#kontener{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
#kismenuk{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.AruSzerkeszt{
cursor: pointer;
}
a{
    text-decoration: none;
    color: black

}
li{
    list-style: none;
}
#adminTartalma{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#tablazatTarolo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
#szuroTarolo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
 }
 #lapozo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
#lapozo>li{
    list-style: none;
    cursor: pointer;
}
#elozo{
    visibility: hidden;
}
