#bejelentkezesFormTarolo{
       width: 100%;
       border: 1px solid black;
       padding-top: calc(3%);
}
#bejelentkezesFormTarolo,
#bejelentkezesForm{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.ErrorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }