#bejelentkezesFormTarolo{
       width: 100%;
       border: 1px solid black;
       padding-top: calc(3%);
}
#bejelentkezesFormTarolo,
#bejelentkezesForm{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.ErrorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 #bejelentkezesFormTarolo{
      width: 100%;
      background: white;
      padding: 0rem;
      border-radius: 16px;
      box-shadow: 0 10px 20px rgba(0,0,0,10);
      transition: 0.25s;
      row-gap: 1rem;
      font-size: 1.2rem;
 }
 #email{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#email:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
 #p{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#p:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#bejelentkezesBekuldGomb{
    background: rgb(0, 123, 255);
    color: white;
    padding: 12px 24px;

    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#bejelentkezesBekuldGomb:hover{
    color:black;
    box-shadow: 0 6px 10px rgb(23, 148, 125);
}

@media screen and (max-width: 768px) {
  #p,#email{
    width: 11rem;
  }
}