#aruTablazat{
    width: 100%;
    overflow-x: visible;
}
table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 1.4rem;
}
table tr td,
table tr th
{
    white-space: normal;
    overflow-wrap: break-word;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
table tr td:nth-child(odd)
/*table tr th:nth-child(odd)*/
{
    background-color: rgba(32, 31, 31, 0.292);
}
table tr td:nth-child(even)
/*table tr th:nth-child(even)*/
{
    background-color: rgba(65, 63, 63, 0.292);
}
table tr{
    background-color: rgb(62, 118, 181,0.6);
    /*background-color: rgba(108, 142, 151, 0.621);rgb(62, 118, 181);*/
}
table tr:hover{
    background-color: rgb(73, 112, 112);
}
#tablazatTarolo{
    width: 100%;
}

#oldalValaszto{
    appearance: none;           
    width: 12rem;
    font-size: 1.4rem;
    padding: 10px 30px 10px 10px;
    color: #444;
    background-color: transparent;  
    border: 1px solid #000;       
    border-radius: 0;               
    cursor: pointer;
    outline: none;
    margin-top: 0.5rem;
}
#oldalValaszto:hover{
    color: black;
    box-shadow: 0 6px 10px rgb(24, 168, 130);
}
#ShowSzallitasicimFormLi{
    margin-top: 2.5rem;
    list-style: none;
}
#ShowSzallitasicimFormA{
    text-decoration: none;
}
#fiokAdat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem;
}
#sajatAdatok{
    width: 100%;
    background: white;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,10);
    transition: 0.25s;
    font-size: 1.2rem;
}
#szallitasicimFormTarolo{
    width: 100%;
 background: white;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0,0,0,10);
    transition: 0.25s;
    font-size: 1.3rem;
}
#lapozo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
#ShowSzallitasicimFormA,
#lapozo>li{
    list-style: none;
    cursor: pointer;
    background: rgb(0, 123, 255);
    color: white;
    padding: 12px 24px;

    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}
#ShowSzallitasicimFormA:hover,
#lapozo>li:hover{
     color:black;
    box-shadow: 0 6px 10px rgb(23, 148, 125);
}
#lapozo{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}
#elozo{
    visibility: hidden;
}
#szallitasicimFormTarolo{
       width: 100%;
       border: 1px solid black;
       padding-top: 1rem;
}
#szallitasicimFormTarolo,
#sajatAdatok,
#szallitasicimFormTarolo,
#szallitasicimForm{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
}
.ErrorDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 #iranyitoszam{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#iranyitoszam:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#varos{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#varos:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#utca{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#utca:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#hazszam{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#hazszam:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#emelet{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#emelet:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#ajto{
padding: 10px 14px;
  width: 12rem;
  font-size: 1rem;
  border: 2px solid transparent;
  border-radius: 8px;
  background: #f0f2f5;
  outline: none;
  transition: 0.3s ease;
}
#ajto:focus{
    border-color: rgb(0, 123, 255);
    background: white;
    box-shadow: 0 10px 21px rgba(32, 99, 176, 10);

}
#szallitasicimBekuldGomb
{
    background: rgb(0, 123, 255);
    color: white;
    padding: 12px 24px;

    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 1rem;
}
#szallitasiCimTorolA{
  background: rgb(0, 123, 255);
  color: white;
  padding: 12px 24px;

  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
#szallitasiCimTorolA:hover{
     color:black;
    box-shadow: 0 6px 10px rgb(23, 148, 125);
}
#szallitasiCimTorolLi{
    list-style-type: none;
    text-decoration: none;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
#szallitasiCimTorolLi:hover{
    color: rgb(0, 123, 255);
}
#sajatAdatEmail,
#sajatAdatNev{
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
column-gap: 1rem;
}
@media screen and (max-width: 768px) {
    #aruTablazat{
    overflow-x: auto;
    }
    table{
        width: 100%;
        table-layout: auto;
    }
    table tr td,
    table tr th
    {
         white-space: nowrap;
         padding: 10px 10px;
    }
    #lapozo{
        flex-direction: column;
        row-gap: 1rem;
    }
    #iranyitoszam,#varos,#utca,#hazszam,#emelet,#ajto{
        width: 11rem;
    }
    #sajatAdatEmail,
    #sajatAdatNev{
        flex-direction: column;
    padding: 0.5rem;

    }
    #sajatAdatok{
    font-size: 1rem;
    }
}
