#menuk{
    width: 100%;
    min-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    /* margin-left: auto;
    margin-right: auto;*/
    background: white;
    box-shadow: 0 2px 14px rgba(0,0,0,0.8);
    margin-bottom: 3rem;
}
#menuUl{
    width: 98%;
    min-width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    /*border: 1px solid red;*/
}
.menuLi{
    width: 96%;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    /*border: 1px solid black;*/
    margin-left: 2px;
    margin-right: 2px;
}
/*
.menuLi:hover{

}
#menuUl .menuLi:nth-child(odd){
background-color: rgb(232, 227, 227);
}
#menuUl .menuLi:nth-child(even){
background-color: rgb(218, 213, 207);
}*/
.menuA{
    text-decoration: none;
    color: #444;
    font-size: 1.4rem;
    transition: 0.3s;
}
.menuA:hover{
    color: rgb(36, 112, 199);
    box-shadow: 0 1px rgba(32, 99, 176, 10);

}
#indexKontener{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(104, 87, 87, 0.274);
}
@media screen and (max-width: 768px) {
    #menuk{
        width: 100%;
    }
    #menuUl{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        min-width: auto;
        font-size: 2rem;
        padding-top: 12px;
        flex-direction: column;
    }
    .menuLi{
        width: 96%;
        min-width: auto;
        margin-bottom: 12px;
        border-bottom: 1px solid black;
    }
}