#menuk{
       width: 100%;
       min-width: auto;
       display: flex;
       justify-content: center;
       align-items: center;
       /*flex-wrap: wrap;*/
       flex-direction: row;
       border: 1px solid black;
      /* margin-left: auto;
       margin-right: auto;*/
}
#menuUl{
    width: 98%;
    min-width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: 1px solid red;
}
.menuLi{
    width: 96%;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: 1px solid black;
    margin-left: 2px;
    margin-right: 2px;
}
#menuUl .menuLi:nth-child(odd){
background-color: rgb(230, 211, 184);
}
#menuUl .menuLi:nth-child(even){
background-color: rgb(206, 198, 187);
}
.menuA{
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    #menuk{
        width: 100%;
    }
    #menuUl{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 98%;
        min-width: auto;
        font-size: 2rem;
        padding-top: 12px;
        flex-direction: column;
    }
    .menuLi{
        width: 96%;
        min-width: auto;
        margin-bottom: 12px;
    }
}