#velemenyIrasaTarolo{
    width: 100%;
    border: 1px solid black;
}
#VelemenyEgy,
#sajatVelemeny,
#masVelemeny,
#velemenyekTarolo,
#VelemenyForm,
#velemenyIrasaTarolo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#VelemenyForm{
    width: 100%;
}
#velemenyekTarolo{
    width: 100%;
    border: 1px solid black;
}
#masVelemeny{
    width: 100%;
}
#sajatVelemeny{
    width: 100%;
}
#VelemenyEgy{
    width: 100%;
    border-bottom: 1px solid black;
}
#velemenyForm,
.velemenyegy,
#VelemenyEgyFejlec,
#VelemenyEgyTorzs{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
#velemenyInput{
    display: flex;
    width: 70vw;
    height: 20vh;
}
#lapozo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
#lapozo>li{
    list-style: none;
    cursor: pointer;
}
#elozo{
    visibility: hidden;
}