#velemenyIrasaTarolo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
#VelemenyForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#velemenyekTarolo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
}
#masVelemeny{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#sajatVelemeny{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#VelemenyEgy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid black;
}
#VelemenyEgyFejlec{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
#VelemenyEgyTorzs{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
#velemenyInput{
    display: flex;
    width: 70vw;
    height: 20vh;
}
.velemenyegy{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /*border: 1px solid red;*/
}
#velemenyForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#lapozo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}
#lapozo>li{
    list-style: none;
    cursor: pointer;
}
#elozo{
    visibility: hidden;
}